.cards {
  display: flex;
  justify-content: space-between;
  margin: 150px 0;
}
.card {
  width: 31%;
  text-align: center;
  transition: 1s;
}
.card:hover {
  transform: scale(1.1, 1.1);
  box-shadow: 5px 5px 25px #4dff00;
  border-radius: 15px;
}
.card-img {
  height: 100px;
  margin-bottom: 10px;
}
.card-img img {
  width: 150px;
  height: 100%;
  transition: 1s;
}
.card h1 {
  color: #19191b;
  font-size: 24px;
  margin-bottom: 20px;
}
.card p {
  color: #696871;
  font-size: 16px;
  font-family: Mulish;
  line-height: 27px;
}

@media (max-width: 880px) {
  .cards {
    flex-wrap: wrap;
    justify-content: center;
    margin: 80px 0;
  }
  .card {
    width: 45%;
  }
}

@media (max-width: 780px) {
  .card {
    width: 65%;
    margin: 0 auto;
    margin-bottom: 40px;
  }
}

@media (max-width: 580px) {
  .card {
    width: 100%;
  }
  .card:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media (max-width: 550px) {
  .card {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 45px;
  }
}
